.leftSection{
    width: 20%;
    overflow-y: scroll;
    height: 85vh;

}
.leftSection::-webkit-scrollbar {
    display: none;
}
.profileBar{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    margin: 20px;
    padding:40px 10px;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 5px;
    margin-bottom: -15px;
}
.bordersmile{
    transform: rotate(90deg);
    margin-left: 32%;
    margin-right: -85px;
}
.smile{
    width: 70px;
    margin: 8px;
}
.logo{
    margin-bottom: -60px;
}
.login{
    padding: 7px 12px;
    border: 0;
    background-color: #f45046;
    color: white;
    margin-left:  35%;
    border-radius: 10px;
}
.navbar{
    padding:15px 20px ;
    display: flex;
    flex-direction: start;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px;
}
.navbar ul li{
    list-style: none;
}
.navbar ul li a i{
    margin-right: 3px;
    width: 18px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
}
.navbar ul li{
    padding: 5px;
}
.avtarProfile{
    border-radius: 50%;
    width: 40px;
}
.smalltext{
    font-size: 10px;
    padding-top: 5px;
}
.list_item{
    display: flex;
    /* padding:0 8px; */
}
.list_item img{
    margin-right: 5px;
}
.followContainer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.follow{
    padding: 5px 0;
    font-size: 14px;
}
.follow i{
    color: #f45046;
}
.followers{
    width: 90%;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
    margin: 50px 15px;
}
