.search{
    display: flex;
    /* flex-direction: row; */
    padding: 10px;
}
.inp{
    border: 0.3px solid rgb(179, 177, 177);
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: 0;
}
.searchIcon{
    padding: 5px;
    border: 0.3px solid rgb(170, 169, 169);
    border-left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #f45046;
}